
body {
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
  background: #dedede;

}

.linha {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
}
.coluna {
    padding: 0 10px;
    float: left;
}
.coli1 {
    width: 60px;
}
.coli2 {
width: 140px;
}
.coli3 {
width: 220px;
}
.coli4 {
width: 300px;
}
.coli5 {
width: 380px;
}
.coli6 {
width: 460px;
}
.coli7 {
width: 540px;
}
.coli8 {
width: 620px;
}
.coli9 {
width: 700px;
}
.coli10 {
width: 780px;
}
.coli11 {
width: 860px;
}
.coli12 {
width: 940px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 15px 0 10px;
}

.nome {
    background-color: SeaGreen;
}
.justificado {
    text-align: justify;
}